In [1]:
#importing libraries
import pandas as pd 
import numpy as np 
import os

In [2]:
path = r'C:\Users\msyeu\Instacart Basket Analysis'

In [3]:
df_orders_products_merged_update = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_update.pkl'))

In [4]:
df_orders_products_merged_update.shape

(23918195, 19)

In [5]:
df_orders_products_merged_update.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regulary busy days,Most orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regulary busy days,Most orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders

In [6]:
df_orders_products_merged_update.groupby('department_id')['order_number'].mean()

department_id
1     15.455486
2     17.031783
3     17.181873
4     17.839025
5     15.439143
6     16.496714
7     17.206499
8     15.316589
9     15.953034
10    20.334436
11    16.217244
12    15.921115
13    16.650970
14    16.693998
15    16.248722
16    17.677758
17    15.728867
18    19.341100
19    17.153268
20    16.427034
21    22.720641
Name: order_number, dtype: float64

3. Analyze the result. 

The results for the entire dataframe list all departments and as a result the average order numbers are different.

4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
df_orders_products_merged_update['max_order'] = df_orders_products_merged_update.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\msyeu\AppData\Local\Temp\ipykernel_29268\255755643.py:1: FutureWarning: The provided callable <function max at 0x0000016640494400> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_orders_products_merged_update['max_order'] = df_orders_products_merged_update.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
pd.options.display.max_rows = None 
df_orders_products_merged_update.head(100)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,False,30450,5,0,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,False,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10
20,2254736,1,4,4,7,29.0,False,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10
21,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
22,431534,1,5,4,15,28.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10
23,431534,1,5,4,15,28.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10
24,431534,1,5,4,15,28.0,False,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10
25,431534,1,5,4,15,28.0,False,10326,5,0,Organic Fuji Apples,24,4,2.7,both,Low-range product,Least busy,Slowest days,Most orders,10
26,431534,1,5,4,15,28.0,False,17122,6,0,Honeycrisp Apples,24,4,14.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
27,431534,1,5,4,15,28.0,False,41787,7,0,Bartlett Pears,24,4,5.0,both,Low-range product,Least busy,Slowest days,Most orders,10
28,431534,1,5,4,15,28.0,False,13176,8,1,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,10
29,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10
30,3367565,1,6,2,7,19.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regulary busy days,Average orders,10
31,3367565,1,6,2,7,19.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Regulary busy days,Average orders,10
32,3367565,1,6,2,7,19.0,False,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10
33,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
34,550135,1,7,1,9,20.0,False,10258,2,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10
35,550135,1,7,1,9,20.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10
36,550135,1,7,1,9,20.0,False,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
37,550135,1,7,1,9,20.0,False,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10
38,3108588,1,8,1,14,14.0,False,12427,1,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,False,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,False,25133,4,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,False,46149,5,0,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,False,49235,6,0,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,False,49235,1,1,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10
45,2295261,1,9,1,16,0.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
46,2295261,1,9,1,16,0.0,False,25133,3,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
47,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
48,2295261,1,9,1,16,0.0,False,10258,5,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10
49,2295261,1,9,1,16,0.0,False,12427,6,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10
50,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
51,2550362,1,10,4,8,30.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Least busy,Slowest days,Most orders,10
52,2550362,1,10,4,8,30.0,False,39657,3,0,Milk Chocolate Almonds,45,19,6.8,both,Mid-range product,Least busy,Slowest days,Most orders,10
53,2550362,1,10,4,8,30.0,False,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Least busy,Slowest days,Most orders,10
54,2550362,1,10,4,8,30.0,False,25133,5,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10
55,2550362,1,10,4,8,30.0,False,10258,6,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10
56,2550362,1,10,4,8,30.0,False,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,both,Low-range product,Least busy,Slowest days,Most orders,10
57,2550362,1,10,4,8,30.0,False,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Least busy,Slowest days,Most orders,10
58,2550362,1,10,4,8,30.0,False,12427,9,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10
59,2168274,2,1,2,11,NaN,True,32792,1,0,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
60,2168274,2,1,2,11,NaN,True,47766,2,0,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
61,2168274,2,1,2,11,NaN,True,20574,3,0,Roasted Turkey,96,20,2.3,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
62,2168274,2,1,2,11,NaN,True,12000,4,0,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
63,2168274,2,1,2,11,NaN,True,48110,5,0,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
64,2168274,2,1,2,11,NaN,True,22474,6,0,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
65,2168274,2,1,2,11,NaN,True,16589,7,0,Plantain Chips,107,19,5.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
66,2168274,2,1,2,11,NaN,True,35917,8,0,Organic Just Concord Grape Juice,98,7,9.4,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
67,2168274,2,1,2,11,NaN,True,27344,9,0,Uncured Genoa Salami,96,20,14.8,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
68,2168274,2,1,2,11,NaN,True,30489,10,0,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
69,2168274,2,1,2,11,NaN,True,27966,11,0,Organic Raspberries,123,4,4.4,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
70,2168274,2,1,2,11,NaN,True,13176,12,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
71,2168274,2,1,2,11,NaN,True,45066,13,0,Honeycrisp Apple,24,4,2.5,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
72,1501582,2,2,5,10,10.0,False,16797,1,0,Strawberries,24,4,1.3,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
73,1501582,2,2,5,10,10.0,False,47526,2,0,Goat Cheese Log,21,16,2.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
74,1501582,2,2,5,10,10.0,False,8479,3,0,Original Black Box Tablewater Cracker,78,19,3.5,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
75,1501582,2,2,5,10,10.0,False,47766,4,1,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
76,1501582,2,2,5,10,10.0,False,19051,5,0,"Pita Chips, Simply Naked, Party Size",107,19,3.9,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
77,1501582,2,2,5,10,10.0,False,8138,6,0,Traditional Hummus,67,20,2.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
78,1901567,2,3,1,10,3.0,False,47766,1,1,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Busiest days,Most orders,14
79,1901567,2,3,1,10,3.0,False,32792,2,1,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Regularly busy,Busiest days,Most orders,14
80,1901567,2,3,1,10,3.0,False,20574,3,1,Roasted Turkey,96,20,2.3,both,Low-range product,Regularly busy,Busiest days,Most orders,14
81,1901567,2,3,1,10,3.0,False,7781,4,0,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,14
82,1901567,2,3,1,10,3.0,False,28874,5,0,Carrot Ginger Soup,1,20,6.2,both,Mid-range product,Regularly busy,Busiest days,Most orders,14
83,738281,2,4,2,10,8.0,False,49451,1,0,Artichoke Spinach Dip,67,20,7.1,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
84,738281,2,4,2,10,8.0,False,32792,2,1,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
85,738281,2,4,2,10,8.0,False,32139,3,0,Hommus Classic Original,67,20,7.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
86,738281,2,4,2,10,8.0,False,34688,4,0,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
87,738281,2,4,2,10,8.0,False,36735,5,0,Organic Roasted Sliced Chicken Breast,96,20,8.9,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
88,738281,2,4,2,10,8.0,False,37646,6,0,Organic Gala Apples,24,4,9.1,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
89,738281,2,4,2,10,8.0,False,22829,7,0,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
90,738281,2,4,2,10,8.0,False,24852,8,0,Banana,24,4,12.3,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
91,738281,2,4,2,10,8.0,False,47209,9,0,Organic Hass Avocado,24,4,4.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
92,738281,2,4,2,10,8.0,False,33276,10,0,Kalamata Olive Spread,67,20,10.8,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
93,738281,2,4,2,10,8.0,False,45613,11,0,Pad Thai,38,1,12.6,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
94,738281,2,4,2,10,8.0,False,9681,12,0,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,14
95,738281,2,4,2,10,8.0,False,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,14
96,1673511,2,5,3,11,8.0,False,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,14
97,1673511,2,5,3,11,8.0,False,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Low-range product,Regularly busy,Slowest days,Most orders,14
98,1673511,2,5,3,11,8.0,False,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,both,Low-range product,Regularly busy,Slowest days,Most orders,14
99,1673511,2,5,3,11,8.0,False,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Low-range product,Regularly busy,Slowest days,Most orders,14

In [9]:
df_orders_products_merged_update.loc[df_orders_products_merged_update['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_orders_products_merged_update.loc[(df_orders_products_merged_update['max_order'] <= 40) & (df_orders_products_merged_update['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_orders_products_merged_update.loc[df_orders_products_merged_update['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
df_orders_products_merged_update['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    11714499
Loyal customer       7607695
New customer         4596001
Name: count, dtype: int64

In [11]:
df_orders_products_merged_update[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id  loyalty_flag  order_number
0         1  New customer             1
1         1  New customer             1
2         1  New customer             1
3         1  New customer             1
4         1  New customer             1
5         1  New customer             2
6         1  New customer             2
7         1  New customer             2
8         1  New customer             2
9         1  New customer             2
10        1  New customer             2
11        1  New customer             3
12        1  New customer             3
13        1  New customer             3
14        1  New customer             3
15        1  New customer             3
16        1  New customer             4
17        1  New customer             4
18        1  New customer             4
19        1  New customer             4

5. The marketing team at Instacart wants to know whether theres a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What youre trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [12]:
df_orders_products_merged_update.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.642718  1.0  99999.0   80966549.7
New customer      12.923498  1.0  99999.0   59396407.6
Regular customer  12.073882  1.0  99999.0  141439474.8

On average, new customers spend the most money on their purchases, followed by regular customers, and lastly loyal customers.

6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:If the mean of the prices of products purchased by a user is lower than 10, then flag them as a Low spender.If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a High spender.

In [13]:
df_orders_products_merged_update['average_price'] = df_orders_products_merged_update.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\msyeu\AppData\Local\Temp\ipykernel_29268\1278599622.py:1: FutureWarning: The provided callable <function mean at 0x0000016640494E00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_orders_products_merged_update['average_price'] = df_orders_products_merged_update.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
df_orders_products_merged_update.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
11,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
12,473747,1,3,3,12,21.0,False,12427,2,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
13,473747,1,3,3,12,21.0,False,10258,3,1,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
14,473747,1,3,3,12,21.0,False,25133,4,0,...,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
15,473747,1,3,3,12,21.0,False,30450,5,0,...,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
16,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797

In [15]:
df_orders_products_merged_update.loc[df_orders_products_merged_update['average_price'] < 10, 'spending_flag'] = 'Low Spender'
df_orders_products_merged_update.loc[df_orders_products_merged_update['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [16]:
df_orders_products_merged_update['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     23454581
High Spender      463614
Name: count, dtype: int64

In [17]:
df_orders_products_merged_update[['user_id', 'spending_flag', 'loyalty_flag', 'order_number']].head(20)

    user_id spending_flag  loyalty_flag  order_number
0         1   Low Spender  New customer             1
1         1   Low Spender  New customer             1
2         1   Low Spender  New customer             1
3         1   Low Spender  New customer             1
4         1   Low Spender  New customer             1
5         1   Low Spender  New customer             2
6         1   Low Spender  New customer             2
7         1   Low Spender  New customer             2
8         1   Low Spender  New customer             2
9         1   Low Spender  New customer             2
10        1   Low Spender  New customer             2
11        1   Low Spender  New customer             3
12        1   Low Spender  New customer             3
13        1   Low Spender  New customer             3
14        1   Low Spender  New customer             3
15        1   Low Spender  New customer             3
16        1   Low Spender  New customer             4
17        1   Low Spender  New customer             4
18        1   Low Spender  New customer             4
19        1   Low Spender  New customer             4

7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a users ordering behavior according to the median in the days_since_prior_order column. The criteria for the flag should be as follows:If the median of days_since_prior_order is higher than 20, then the customer should be labeled a Non-frequent customer.If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a Regular customer.If the median is lower than or equal to 10, then the customer should be labeled a Frequent customer.

In [18]:
df_orders_products_merged_update['median_days_since_prior_order'] = df_orders_products_merged_update.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\msyeu\AppData\Local\Temp\ipykernel_29268\34556421.py:1: FutureWarning: The provided callable <function median at 0x00000166406D0C20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_orders_products_merged_update['median_days_since_prior_order'] = df_orders_products_merged_update.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [19]:
df_orders_products_merged_update.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,both,Low-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
5,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
11,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
12,473747,1,3,3,12,21.0,False,12427,2,1,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
13,473747,1,3,3,12,21.0,False,10258,3,1,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
14,473747,1,3,3,12,21.0,False,25133,4,0,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
15,473747,1,3,3,12,21.0,False,30450,5,0,...,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low Spender,20.5
16,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low Spender,20.5

In [20]:
df_orders_products_merged_update.loc[df_orders_products_merged_update['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
df_orders_products_merged_update.loc[(df_orders_products_merged_update['median_days_since_prior_order'] <= 20) & (df_orders_products_merged_update['median_days_since_prior_order'] > 10), 'order_frequency_flag'] = 'Regular customer'
df_orders_products_merged_update.loc[df_orders_products_merged_update['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [21]:
df_orders_products_merged_update['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        15912956
Regular customer          5335777
Non-frequent customer     2669462
Name: count, dtype: int64

In [22]:
df_orders_products_merged_update.shape

(23918195, 25)

In [24]:
df_orders_products_merged_update.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_updated.pkl' ))